*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

.cabecalho{
    background-color: #f14b05;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: .55%;
}

.simbolos {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 20px;
    line-height: 20px;
}


.simbolos img{
    width: 20px;
    margin-bottom: -5px;
}
   

.imagens img{
    
    width: 25px;
    height: 25px;
    margin: -2.5px 5px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 50px;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.nav ul li {
    color: gray;
    font-size: 16px;
}

.btn {
    color: white;
    background-color: #f14b05;
    padding: 10px 20px;
    border: 1px solid #f14b05;
    border-radius: 5px;
    transition: 1s;
}

.btn:hover {
    color: #f14b05;
    background-color: transparent;
}

#carrossel {
    background-image: linear-gradient(rgb(29 28 28 / 0.2), rgb(0 0 0 / 0.2)),url(https://www.vitoriadown.com.br/assets/images/slides/8950323.jpg);
    height: 62vh;
    display: grid;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

#carrossel h1 {
    color: white;
    font-size: 50px;
}

#carrossel .btn {
    width: 200px;
    padding: 15px 20px;
}